<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Fit Content</title>
</head>
<body>
    <div class="container">
        <div class="item">Lorem</div>
        <div class="item">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, repellendus.</div>
        <div class="item">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum, inventore quidem voluptatum veritatis nesciunt corrupti accusamus cum quaerat porro itaque. Nostrum eum ratione maiores omnis?</div>
        <div class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia sint excepturi consequatur voluptates dolorem vero. Enim nemo iste, delectus ullam magnam nulla. Sapiente expedita delectus cupiditate ullam. Distinctio consequatur temporibus facere dolor ipsa, libero ipsam consectetur, eveniet ipsum eligendi dicta! Reprehenderit ipsam dolorum distinctio suscipit eos et ipsum? Ipsa sapiente qui, esse alias assumenda molestiae doloribus dolorem eum sint aliquam mollitia corrupti. Perferendis est fugiat, maxime harum voluptatum laboriosam sapiente molestias dolorum dicta quia ratione.</div>
    </div>
</body>
</html>