body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f2f9;
    /* margin: 0px 50px; */
    width: 80%;
    margin: auto;
    color: #444;
    margin-bottom: 56px;
}

h1{
    background-color: #b68bdf;
    color: white;
    padding: 25px;
    text-align: center;
    border-radius:35px 35px 0px 0px;
    font-size: 46px;
    margin-bottom: 0;
}

h2{
    background-color: #ccc;
    border-bottom: 3px solid #b68bdf;
    /* height: 30px; */
    padding: 10px;
    border-radius: 5px;
    font-size: 36px;
    margin: 48px 0 12px;
}

h3{
    font-size: 18px;
}

ul{
    padding-left: 0;
}

li{
    list-style-position: inside;
}

.endereco{
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
    background-color: #cdb2e7;
    padding: 10px;
    border-radius:0px 0px 35px 35px;
}

.empresa{
    color: #b68bdf;
}
.menu{
    text-align: right;
}

.menu li{
    list-style-type: none;
    display: inline-block;
    padding: 0px;
}

.menu a{
    background-color: #c1bebe;
    padding: 16px;
    border-radius: 10px;
}

.menu a:hover{
    background-color: #333;
    color: white;
    text-decoration: none;
}