:root{
    --primary-color: #fed001;
}

html{
    font-size: 62.5%;
    font-family: 'Inter', 'sans-serif';
    font-weight: 400;
}

p,a{
    font-size: 1.6rem;
}

h1{
    font-size: 4.8rem;
    font-family: "Sora", sans-serif;
}

nav a{
    color: inherit;
}

.upper{
    text-transform: uppercase;
}

.btn{
    background-color: var(--primary-color);
    border-radius: 4px;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 1.6rem 4.5rem;
    display: inline-block;
}

.btn a{
    text-decoration:none;
    color: #000000;
}

.whapperContainer-dark{
    background-color: #2a2a2a;
    color: #fafafa;
}

.whapperContainer-hero{
    background-image: linear-gradient(transparent, #f3f332);
}

.whapperContainer-light{
    background-color: #fafafa;
}

.whapperContainer-dark2{
    background-color: #003454;
    color: #fafafa;
}

.container{
    max-width: 127.6rem;
    margin: auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    padding: 2rem 0;
}

.header_menu a{
    padding: .75em 1.15em;
    border: solid 1px;
    text-decoration:none;
}

.header_menu ul{
    display: flex;
    gap: .6em;
    list-style-type: none;
}
.header_menu a:hover{
    background-color: black;
}

.heroBanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
}

.heroBanner_content_titulo{
    margin-bottom: 4zrem;
}